@import "tailwindcss";

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..900&display=swap');

  :root {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  }

  body {
    font-family: var(--font-sans);
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .btn {
    @apply transition-all active:scale-[0.98] duration-200;
  }
}

* {
  @apply scroll-smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full hover:bg-gray-400 transition-colors;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  75% {
    transform: translateX(4px);
  }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 0s 2;
}